<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Type here your favorite coffes</h1>
    </header>
    <form class="page-header">
      Name: <input type="text" ng-model="id" name="id" class="type-here">
      Adress: <input type="text" ng-model="name" name="id" class="type-here">
    </form>
    <div class="button-wrapper">
      <input type="button" value="{{btnName}}" class="{{btnName}}" ng-click="insertdata()" >
    </div>
    <p>{{msg}}</p>
  </body>
</html>
