.two{
  display: flex;
  flex-direction: row;
  height: 340px;
  margin-bottom: 35px;


}
.kisflex{
  display: flex;
  flex-direction: row;
  height: 140px;

}
.personal{
  display: block;
  width: 230px;
  height: 315px;
  line-height: 25px;
}
.Contact{
  display: block;
  width: 230px;
  height: 315px;
  line-height: 25px;
}
p{
  font-size: 12px;
  margin: 0;
  padding-top: -40px;
  margin-top: -15px;

}
.gombegy {
  background-color: #f2f2f2;
}
.gombketo{
  background-color: #4b4363;
  width: 140px;
  height: 30px;
  color: white;


}
.gombharom{
background-color: #f2f2f2;
height: 30px;
width: 120px;

}
h2{
  border-radius: 1px;
  color: white;
  background-color: #938c97;
  width: 190px;
  font-size: 18px;


}
.nrone{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 420px;
  line-height: 45px;
}
.flexb{
  width: 230px;
  height: 500px;
}

body{
  background-color: #dcd6cd;
  display: flex;
  align-content: center;
}
.xyz{
  width: 185px;
  height: 25px;
  background-color: white;


}
