* {
  background-color: #f7f7f7;
}

select, button {
  font-family: 'Shrikhand', cursive;
  cursor:pointer;
  background-color:#eee;
  /*color:#7B8585;*/
  border-radius: 3px;
  margin-bottom: 10px;
  max-width: 111px;
}
input {
  background-color: white;
  width: 350px;
  /*text-indent: 350px;*/
}
button {
  width: 120px;
  height: 30px;
}

select:hover, button:hover {
  background-color:#beecea;
  border: 1px solid #777;
}
.container {
  display: flex;
  justify-content: space-around;
}
