.root {
  width: 560px;
}
ul{
  display: block;
  border-radius: 10px;
}
.kacsa {
  float: left;
  margin: 20px;

}
.kacsatwo{
  float: right;
  margin: 20px;

}
.one:after{
  content: "";
  display: block;
  clear: both;
}
.one {
  border-bottom: 2px solid black;
  margin: 20px;
  padding-bottom: 10px;
}
.two {
  border-bottom: 2px solid black;
  margin: 20px;
  padding-bottom: 10px;
}
.root{
    border: 1px solid black;
    line-height: 22px;

}
