.row {
  width: 540px;
  justify-content: space-between;
  display: flex;
}

.first {
  width: 620px;
  height: 750px;
}
.aqua {
  background: aqua;
  width: 540px;
  height: 100px;
}

.yellow {
  background: yellow;
  width: 100px;
  height: 500px;
}

.red {
  background: red;
  width: 300px;
  height: 500px;
}

.purple {
  background: purple;
  width: 100px;
  height: 500px;
}

.blue {
  background: blue;
  width: 540px;
  height: 100px;
}

.black {
  background: black;
  width: 50px;
  height: 50px;
  margin-top: 430px;
  margin-left: 230px;
}
